
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simple Contact List using Model-based Filtering to Search</title>
    
    <meta name="author" content="Ben Olson">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/themes/twitter/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/themes/twitter/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/style.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

   <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">

   <script src="http://code.jquery.com/jquery.js"></script>
   <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
   <script src="/assets/js/jquery.ui.touch-punch.js"></script>

  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Ben's Sandbox</a>
          <ul class="nav">
            
            
            


  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
      	
      	<li><a href="/projects/index.html">Projects</a></li>
      	
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
    
  
    
      
      	
      	<li><a href="/tags.html">Tags</a></li>
      	
      
    
  
    
      
    
  



          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        
<div class="page-header">
  <h3>Simple Contact List using Model-based Filtering to Search </h3>


<hr style="margin: 0px"/>



<!-- Place this tag where you want the +1 button to render. -->
<div style="position: relative; top: -20px; text-align: right; height: 30px">
  <span><a href="http://www.benknowscode.com/2013/04/28/filtering-in-backbone-let-the-model-do-the-work/">View Blog</a></span>&nbsp;&nbsp;
  <span><a href="https://github.com/bseth99/sandbox/blob/master/projects/backbone/09-filtering-contact-list.html">View Source</a></span>&nbsp;&nbsp;
  <div class="g-plusone" data-size="small"></div>
</div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = false;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>



<div class="row">
  <div class="span12">
    

<!--
Copyright (c) 2012 Ben Olson

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.
-->

<link rel="stylesheet" type="text/css" href="contact/list2.css">

<script src="underscore.min.js"></script>
<script src="backbone.min.js"></script>

<script src="contact/moment.js"></script>
<script src="contact/base.js"></script>

<script src="contact/jquery-hoverIntent.js"></script>
<script src="contact/bseth99-jquery-ui.js"></script>

<script src="contact/backbone-autobind.js"></script>
<script src="contact/backbone-widget.js"></script>

<script src="contact/list2.js"></script>
<script src="contact/contacts.js"></script>


<style>

.ui-widget {
   font-family: Arial,Helvetica,Verdana,sans-serif;
}

.ui-border-box {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

.ui-fill-box { position: absolute; height: auto; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden; }
.ui-input-text { padding: 0.2em; }
.ui-state-empty { font-style: italic; color: #aaa; }

.ui-content-wrapper { position: relative; width: 100%; height: 500px; margin: auto; font-size: 1.1em; }

.ds-search-scope { right: 0; }

.ds-contact-list { width: 550px; }

.ds-contact-list ul.ui-list-item { padding: 5px; cursor: pointer; }
.ds-contact-list li.ui-list-column { margin: 1px; display: block; }
.ds-contact-list span[column="display_name"] { font-weight: bold; }

.ui-list-search > div { margin: 5px 0; }

.ui-search-highlight { color: orange; }

.ui-list-search { border-bottom: none; }
.ui-list-rows { border-top: 2px solid #aaa; visibility: hidden; }

.ui-list-content { visibility: visible !important; }
.ds-state-normal .ui-list-rows { visibility: visible; }

.ui-list-blank { border: none; }
.ui-list-blank > div { font-size: 100%; }
.ui-list-loading { border: none; }

</style>

<script id="contact-filter" type="text/template">

   <div class="ui-list-search" bind="search_text">
      <div>
         <input type="text" class="ui-corner-all ui-widget ui-widget-content ui-input-text ui-border-box" name="search" placeholder="Search ..." />
      </div>
   </div>

</script>

<script id="contact-list" type="text/template">

   <div class="ds-state-normal ui-list-content ui-corner-all ui-fill-box">


      <div class="ui-list-options">
         <h3 class="ui-list-title">Contacts</h3>
      </div>

   </div>
</script>

<script id="contact-item" type="text/template">
   <li class="ui-list-column ui-list-data"><span column="display_name"><%= display_name %></span> (<span column="primary_email"><%= primary_email %></span>)</li>
   <li class="ui-list-column ui-list-data"><span column="organization"><%= organization %></span></li>
   <li class="ui-list-column ui-list-data"><span column="primary_phone"><%= primary_phone %></span></li>
</script>

<div class="discussion">
This example explores how to leverage Backbone's built-in Collection/Model functionality to collect filter inputs from the user,
apply them to a master datasource, and display the results on the screen.  The goal is to maintain the seperation of concerns
the MVC pattern defines and provide the most flexibility to handle any filtering scenario.  The contents of the search box is
used to find matches in any of the contact fields (name, org, email, phone).  Any matches are highlighted to identify how a row
matched the search.
</div>
<br/>

<div class="ui-content-wrapper">

</div>

<script>

$(function() {

   app = new App.Controller({ container: '.ui-content-wrapper' });

   app.start();
   app.applyFilters();


});
</script>

  </div>
</div>

</div>


      </div>

      <footer>
        <p>&copy; Ben Olson 2012
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->

    


  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34780028-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>



  </body>
</html>

